*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Raleway, sans-serif;
}
h1 {
    text-align: center;
    padding: 35px 0;
    font-size: 40px;
    color: rgb(90, 122, 96);
}
.container-faq {
    width: 70px;
    max-width: 900px;
    min-width: 700px;
    height: auto;
    margin: 10px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.questions {
    width: 100%;
    height: auto;
    margin: 5px;
    color: white;
}
.p-faq{
    color: darkseagreen;
}
.trait{
    color: darkseagreen;
}
.pannel-faq {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: darkseagreen;
    border-radius: 10px;
    position: relative;
    z-index: 100;
}
.pannel-faq h2 {
    margin-left: 10px;
    padding: 15px 5px;
    font-size: 25px;
}
.pannel-faq img {
    margin-right: 10px;
    width: 25px;
    cursor: pointer;
}
.lien2{
    color: darkseagreen;
}