
@media screen and (max-width: 80rem){
    html {
        font-size: 75%; /* Ré-équilibrage du Rem face au Pixel pour des calculs simples */
    }  
}

/*BARRE DE NAVIGUATION*/

.maisoon {
    margin-top: .3125rem;
    margin-left: .3125rem;
}

.mainheader ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dde7d6;
    width: 100%;
}

header {
    width: 100%;
}

li {
    display: inline;
    float: left;
}

li a {
    display: flex;
    color: #2e6604;
    text-align: center;
    padding: .875rem 1rem;
    text-decoration: none;
    background-color: #dde7d6;
    height: 3.75rem;
    font-size: 1.3em;
    justify-content: space-around;
}

.mainheader ul li {
    width: 13%;
    height: 3.75rem;
    justify-content: space-between;
}

li a:hover {
    background-color: rgba(46, 102, 4, 0.3);
}

nav>ul li:hover .sous {
    display: block;
}

.sous li {
    float: none;
    width: 100%;
    text-align: center;
}

.topheader {
    height: 3.75rem;
}

.active {
    background-color: rgba(125, 158, 109, 0.8);
    display: center;
}

.phrase {
    position: relative;
    float: right;
    margin-top: 0rem;
    margin-right: .3125rem;
    font-family: cursive;
    font-size: 1em;
    font-style: italic;
    color: #075244;
}

img {
    float: left;
}


/* Formulaire de connexion */

.block-formulaire {
    width: 50%;
    height: 37.5rem;
    margin: auto;
    border: none;
}

.fieldset2 {
    border: none;
    height: 37.5rem;
}

.formulaire {
    width: 80%;
    height: 29.375rem;
    background: darkseagreen;
    margin: auto;
    border-radius: .625rem;
}

.titre-du-formulaire {
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 37.5rem;
    position: relative;
    top: 2.5rem;
    color: white;
}

.block-champ {
    width: 100%;
    margin: auto;
    text-align: center;
}

.champ {
    width: 23.75rem;
    height: 2.5rem;
    margin: .9375rem;
    font-size: 1.125rem;
    border: none;
    border-bottom: .125rem solid white;
    outline: none;
    color: black;
    position: relative;
    top: 3.125rem;
}

.button1 {
    width: 23.75rem;
    height: 1.875rem;
    background: white;
    border-radius: .3125rem;
    color: darkseagreen;
    font-size: 1.25rem;
    margin: .9375rem;
    position: relative;
}

.button1:hover {
    background: rgba(0, 0, 0, 0.5);
}

.lien-champ {
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    font-size: 1.0625rem;
}

.lien {
    color: white;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.background {
    width: 90%;
    margin-top: 40.625rem;
}

.photofond {
    margin-top: 1.25rem;
    margin-left: 2%;
}


/* Fin du Formulaire de Connexion */

h3 {
    color: floralwhite;
    font-size: 2em;
    font-family: "sans-serif";
}

.premier {
    margin-left: 25rem;
    margin-right: 25rem;
}


/* Début de la page d'Aide */


/* Logo Techsens page de connexion */

.img1 {
    margin-left: 40%;
    width: 5.625rem;
    align-items: center;
}

.rut {
    width: 18.75rem;
    height: 3.4375rem;
    font-size: 2.5rem;
    position: relative;
    text-align: center;
    color: darkseagreen;
}

.ticket {
    position: relative;
    border: .0625rem solid black;
    width: 52.5rem;
    height: 18.75rem;
    margin-top: .5rem;
    font-size: 1.0625rem;
    background-color: darkseagreen;
    color: ghostwhite;
    border-radius: .4375rem;
    box-shadow: .3125rem .3125rem .3125rem black;
}

.button20 {
    position: relative;
    border: none;
    border-radius: .3125rem;
    width: 18.75rem;
    height: 3.125rem;
    font-size: 1.25rem;
    background-color: darkseagreen;
    text-align: center;
    margin-left: 70%;
    color: white;
}

.button20:hover {
    background: rgba(0, 0, 0, 0.5);
}

.img3 {
    position: absolute;
    display: flex;
    margin-top: 10rem;
    margin-left: 5%;
    width: 16.875rem;
    height: 12.5rem;
}


/* Fin de la page d'Aide */


/* Page d'accueil */

h1.Techsens {
    color: #075244;
    font-size: 2.2em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48.75rem;
    margin-left: 10%;
}

.img5 {
    display: inline;
    width: 75%;
    height: auto;
    height: 12.5rem;
    margin-left: 10%;
}

.img6 {
    display: inline;
    width: 75%;
    height: auto;
    height: 12.5rem;
    margin-left: 10%;
}

.img7 {
    display: inline;
    width: 75%;
    height: auto;
    height: 12.5rem;
    margin-left: 10%;
}

.text3 {
    margin-left: 10%;
    text-align: center;
    font-size: 1.5em;
    color: #075244;
    width: 20%;
    margin-top: -2%;
}

.text2 {
    text-align: center;
    font-size: 1.5em;
    color: #075244;
    width: 20%;
    margin-left: 10%;
}

.text4 {
    margin-left: 10%;
    text-align: center;
    font-size: 1.5em;
    color: #075244;
    width: 20%;
}

.slogan {
    margin-left: 42%;
    font-size: 1.875rem;
    color: #075244;
    font-style: italic;
}

div.Chiffres {
    width: 80%;
    margin-left: 15%;
    color: #075244;
}

.Chiffre {
    margin-top: 3.125rem;
    margin-left: -5%;
    font-size: 2.25rem;
    font-family: sans-serif;
    font-weight: 500;
    color: #075244;
}

.img10 {
    float: right;
    width: 1.875rem;
    height: auto;
    position: relative;
    margin-right: 2%;
    margin-top: -6%;
}

.Chiffres ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-right: auto;
    width: 80%;
    margin-left: 10%;
}


/* Photo greenware corentin celton */

.celton {
    margin-left: 17.8125rem;
    width: 40%;
    height: 18.75rem;
    margin-left: 30%;
}

.white34 {
    color: white;
}


/* Tableau corentin celtobn */

.centert {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.center {
    width: 37.5rem;
    padding: .3125rem;
    color: darkseagreen;
    border: .1875rem solid darkseagreen;
    text-align: center;
    margin-left: 40%;  
}

.essy{
    width: 37.5rem;
    padding: .3125rem;
    color: darkseagreen;
    border: .1875rem solid darkseagreen;
    text-align: center;
    margin-left: 49.9%;
    margin-top: 1.65%;
    position: absolute;
}
.tablo{
    font-size: 1.5em;
    font-family: sans-serif;
    font-style: italic;
    margin-left: 5%;
    margin-top: 3%;
    text-decoration: underline;
    
}
.moy{
    margin-left: 42%;
    font-family: sans-serif;
    font-size: 1.1em;
}
.var{
    margin-left: 42%;
    font-family: sans-serif;
    font-size: 1.1em;
}

/* Capteur dans le tableu (dimensions de l'image */

.sensor {
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    height: 18.75rem;
}


/* Image des statistiques */

.stat {
    margin-left: auto;
    margin-right: auto;
    width: 28.125rem;
    height: 21.875rem;
}

.buttonRafraichir {
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    height: 4.375rem;
    padding: .3125rem .1875rem;
    background-color: #2E8B57;
    border: none;
    border-radius: .625rem;
    cursor: pointer;
    color: white;
}

.buttonRafraichir:hover {
    background-color: darkgreen;
    color: white;
    box-shadow: 0 .5rem 1rem 0;
}

.rectangl1 {
    text-align: center;
    margin-left: 3.75rem;
}

.rectangl2 {
    text-align: center;
    margin-left: 1.875rem;
    margin-right: 75rem;
    margin-bottom: 75rem;
    margin-top: 12.5rem;
}

.button {
    background-color: #ffffff;
    border: black;
    color: black;
    padding: .9375rem 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin: .25rem .125rem;
    cursor: pointer;
    left: 50%;
    right: 50%;
    display: block;
}

#trait_dessus {
    border-top: .3125rem solid #000;
    width: 100rem;
    margin-top: 9.375rem
}

#trait_dessous {
    border-top: .3125rem solid #000;
    width: 100rem;
}

.vertical-line {
    border-left: .3125rem solid #000;
    display: inline-block;
    height: 31.25rem;
    margin: 0 31.25rem;
}


/*_____________________________________________Page Profil (home.php)________________*/

.contacter2 {
    font-size: 3em;
    font-family: Bradley Hand, cursive;
    margin-left: 1.5625rem;
    color: darkseagreen;
}

.formulaire2 {
    margin-left: 32%;
    text-align: justify;
    font-size: 1.25em;
    width: 30%;
}

.txt1 {
    font-size: 1.15em;
    font-family: arial;
    text-decoration: underline;
}

.button2 {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    color: darkseagreen;
    width: 18.75rem;
    padding: .3125rem .1875rem;
    background-color: white;
    border: none;
    border-radius: .625rem;
    cursor: pointer;
}

.button2:hover {
    background-color: darkgreen;
    color: white;
    box-shadow: 0 .5rem 1rem 0;
}

.photo_de_profil {
    color: darkseagreen;
    font-size: 1.7em;
    margin-top: -21.875rem;
    float: left;
    margin-left: 6.25rem;
}

.img_de_profil {
    width: 9.375rem;
    display: block;
    float: left;
    margin-top: -18.75rem;
    margin-left: 6.25rem;
}


/*jsp ou c'est*/

.blabla {
    float: center;
    width: 50%;
    font-size: 1.5em;
    text-align: justify;
    z-index: 100000;
}


/*_____________________________________________footer______________*/

.footer {
    position: relative;
    padding-top: .625rem;
    width: 100%;
    height: 10.625rem;
    background-color: rgb(123, 161, 123);
    color: #F3F3F3;
    text-align: center;
    opacity: 0.9;
    bottom: 0;
}

.photologo {
    width: 30%;
    margin-right: 40%;
    margin-left: 40%;
    float: center;
}

.end {
    margin-top: 6.25rem;
}

.content {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    margin-top: -1.25rem;
}

.footerquizz {
    top: 1%;
    position: absolute;
    left: 0;
    padding-top: .625rem;
    width: 100%;
    height: 10.625rem;
    background-color: rgb(123, 161, 123);
    color: #F3F3F3;
    text-align: center;
    opacity: 0.9;
    margin-top: 60%;
}

.footer6 {
    top: 1%;
    position: absolute;
    left: 0;
    padding-top: .625rem;
    width: 100%;
    height: 10.625rem;
    background-color: rgb(123, 161, 123);
    color: #F3F3F3;
    text-align: center;
    opacity: 0.9;
    margin-top: 44%;
}


/* CSS page Greenware */

.intro {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: .4375rem;
    width: 43.75rem;
    background-color: darkseagreen;
    color: white;
    font-size: 1.875rem;
}

.gares {
    position: relative;
}

.gare {
    font-size: 2em;
    color: darkseagreen;
}

.lien-gares {
    display: inline;
}

.buttongare1 {
    display: inline;
    width: 18%;
    height: 12.5rem;
    border: .3125rem solid darkseagreen;
    margin-left: 11%;
}

.buttongare2 {
    display: inline;
    width: 18%;
    height: 12.5rem;
    border: .3125rem solid darkseagreen;
    margin-left: 10%;
}

.buttongare3 {
    display: inline;
    width: 18%;
    height: 12.5rem;
    border: .3125rem solid darkseagreen;
    margin-left: 10%;
}

.buttongare1:hover {
    -webkit-transform: scale(1.25);
    /* Safari et Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* Internet Explorer 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
}

.buttongare2:hover {
    -webkit-transform: scale(1.25);
    /* Safari et Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* Internet Explorer 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
}

.buttongare3:hover {
    -webkit-transform: scale(1.25);
    /* Safari et Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* Internet Explorer 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
}


/* home page */

.button10 {
    width: 20%;
    height: 2.5rem;
    background: darkseagreen;
    border-radius: .3125rem;
    color: white;
    font-size: 1.25rem;
    position: relative;
    top: 3.75rem;
    margin-left: 40%;
}

.button10:hover {
    background: rgba(0, 0, 0, 0.5);
}


/* page contact */

.body4 {
    background-color: ghostwhite;
    font-size: 1em;
    width: 100%;
}

.button5 {
    width: 9.375rem;
    padding: .3125rem .1875rem;
    background-color: #2E8B57;
    border: none;
    border-radius: .625rem;
    cursor: pointer;
}

.button5:hover {
    background-color: white;
    color: white;
    box-shadow: 0 .5rem 1rem 0;
}

.contacter4 {
    width: 25rem;
    height: 6.25rem;
    font-size: 2.5em;
    font-family: Bradley Hand, cursive;
    margin-left: 1.5625rem;
    background-image: url("enveloppe.png");
    background-repeat: no-repeat;
    background-position: top right;
}

.container4 {
    background-color: rgba(143, 188, 122, .6);
    width: 80%;
    position: relative;
    height: 39.0625rem;
    right: 15%;
    left: 15%;
    margin-left: -3.125rem;
    margin-top: 6.25rem;
    border-radius: .625rem;
    opacity: 70%;
}

.formulaire4 {
    float: right;
    text-align: justify;
    width: 30%;
    font-size: 1.25em;
    margin-right: 3.125rem;
    margin-top: -7.5rem;
}

.boxe {
    padding: 1em;
    width: 12.5rem;
    height: .4375rem;
    border: .0625rem solid;
}

.texteleft {
    float: center;
    width: 50%;
    font-size: 1.5em;
    text-align: justify;
    margin-left: 3.125rem;
    margin-top: -2.5rem;
}

.blabla {
    float: center;
    width: 50%;
    font-size: 1.5em;
    text-align: justify;
    z-index: 100000;
}

.fleche {
    float: right;
    margin-top: -5.625rem;
    margin-right: -18.75rem;
}

.button51 {
    width: 9.375rem;
    padding: .3125rem .1875rem;
    background-color: #5c834a;
    border: none;
    border-radius: .625rem;
    cursor: pointer;
    font-family: Papyrus;
    color: white;
    font-size: .9375rem;
}


/*3 images animées page d'accueil*/

.paysage1 {
    position: relative;
    width: 33.333%;
    height: 37.5rem;
    float: left;
    margin-top: 0rem;
    z-index: 100;
}

.paysage2 {
    position: relative;
    width: 33.333%;
    height: 37.5rem;
    float: left;
    margin-top: 0rem;
}

.paysage3 {
    position: relative;
    width: 33.333%;
    height: 37.5rem;
    float: left;
    margin-top: 0rem;
}

.titre1 {
    opacity: 0;
    position: relative;
    margin-top: 3.125rem;
    margin-left: -22%;
    float: left;
    font-size: 2em;
    font-family: fantasy;
    font-weight: 700;
}

.titre2 {
    opacity: 0;
    position: relative;
    margin-top: 3.125rem;
    float: left;
    margin-left: -22%;
    font-size: 2em;
    font-family: fantasy;
    font-weight: 700;
}

.titre3 {
    opacity: 0;
    position: relative;
    margin-top: 3.125rem;
    float: left;
    margin-left: -22%;
    font-size: 2em;
    font-family: fantasy;
    font-weight: 700;
}

.paragraphe1 {
    opacity: 0;
    position: relative;
    margin-top: 9.375rem;
    float: left;
    text-align: center;
    margin-left: -27%;
    width: 20%;
    font-size: 1.5em;
    line-height: 2.5rem;
}

.paragraphe2 {
    opacity: 0;
    position: relative;
    margin-top: 9.375rem;
    float: left;
    text-align: center;
    margin-left: -27%;
    width: 20%;
    font-size: 1.5em;
    line-height: 2.5rem;
}

.paragraphe3 {
    opacity: 0;
    position: relative;
    margin-top: 9.375rem;
    float: left;
    text-align: center;
    margin-left: -27%;
    width: 20%;
    font-size: 1.5em;
    line-height: 2.5rem;
}


/*notre histoire*/

.building {
    width: 54%;
    height: 31.5rem;
    margin-left: 5%;
    margin-top: 6.25rem;
}

.title1 {
    font-size: 2.25rem;
    font-family: sans-serif;
    font-weight: 700;
    color: #075244;
    float: left;
    margin-left: 1%;
    margin-top: 7.5rem;
}

.paragraffe1 {
    font-size: 1.3em;
    font-family: sans-serif;
    text-align: justify;
    color: #075244;
    line-height: 2.5rem;
    width: 30%;
    height: 100%;
    float: right;
    margin-right: 8%;
    margin-top: 2%;
}

.greeenware {
    width: 54%;
    height: 31.5rem;
    float: right;
    margin-right: 5%;
    margin-top: 3.125rem;
}

.title2 {
    font-size: 2.25rem;
    font-family: sans-serif;
    font-weight: 700;
    color: #075244;
    float: left;
    margin-left: 5%;
    margin-top: 3.125rem;
}

.paragraffe2 {
    font-size: 1.25rem;
    font-family: sans-serif;
    text-align: justify;
    line-height: 2.5rem;
    color: #075244;
    width: 30%;
    float: right;
    margin-right: 4%;
    margin-top: 3.75rem;
}

.sensmoov {
    width: 54%;
    height: 31.5rem;
    margin-left: 5%;
    margin-top: 3.125rem;
}

.title3 {
    font-size: 2.25rem;
    font-family: sans-serif;
    font-weight: 700;
    color: #075244;
    float: left;
    margin-left: 1%;
    margin-top: 3.75rem;
}

.paragraffe3 {
    font-size: 1.25rem;
    font-family: sans-serif;
    text-align: justify;
    color: #075244;
    line-height: 2.5rem;
    width: 30%;
    float: right;
    margin-right: 8%;
    margin-top: 3.75rem;
}

.cgu {
    text-align: justify;
    width: 80%;
    margin-left: 10%;
}

h1.HHH {
    font-weight: 900;
    font-family: sans-serif;
    text-align: center;
}

h2.Hun {
    font-weight: 700;
    font-family: sans-serif;
}


/* Page ABOUT */

.img33 {
    width: 9.375rem;
    height: 9.375rem;
    border: .125rem solid darkseagreen;
}


/*MAP*/

.loc {
    margin: auto;
    text-align: center;
}

.map {
    width: 59.375rem;
    height: 21.875rem;
    margin-top: 2%;
    position: relative;
}

.t {
    font-size: 1.375rem;
    margin-top: 125rem;
    position: relative;
}

/* Espace Admin */

.inline-block-admin{
    background-color: darkseagreen;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    border-radius: .625rem;
}
.inline-block-admin :first-child{
    align-self: center;
}
.inline-block-admin h2{
    color: white;
}
.inline-block-admin label{
    color: white;
}

.button7 {
    width: 17.5rem;
    height: 1.875rem;
    background: white;
    border-radius: .3125rem;
    color: darkseagreen;
    font-size: 1.25rem;
    margin: .9375rem;
    position: relative;
}

.button7:hover {
    background: rgba(0, 0, 0, 0.5);
}

.gestion-ticket{
    background-color: darkseagreen;
    width: 20%;
}
.gestion-ticket h4{
    color: white;
}