/*BARRE DE NAVIGUATION*/

.maisoon {
    margin-top: 5px;
    margin-left: 5px;
}

.mainheader ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dde7d6;
    width: 100%;
}

header {
    width: 100%;
}

li {
    display: inline;
    float: left;
}

li a {
    display: flex;
    color: #2e6604;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #dde7d6;
    height: 60px;
    font-size: 1.3em;
    justify-content: space-around;
}

.mainheader ul li {
    width: 13%;
    height: 60px;
    justify-content: space-between;
}

li a:hover {
    background-color: rgba(46, 102, 4, 0.3);
}

nav>ul li:hover .sous {
    display: block;
}

.sous li {
    float: none;
    width: 100%;
    text-align: center;
}

.topheader {
    height: 60px;
}

.active {
    background-color: rgba(125, 158, 109, 0.8);
    display: center;
}

.phrase {
    position: relative;
    float: right;
    margin-top: 0px;
    margin-right: 5px;
    font-family: cursive;
    font-size: 1em;
    font-style: italic;
    color: #075244;
}

img {
    float: left;
}


/* Formulaire de connexion */

.block-formulaire {
    width: 50%;
    height: 600px;
    margin: auto;
    border: none;
}

.fieldset2 {
    border: none;
    height: 600px;
}

.formulaire {
    width: 80%;
    height: 470px;
    background: darkseagreen;
    margin: auto;
    border-radius: 10px;
}

.titre-du-formulaire {
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    font-weight: 600px;
    position: relative;
    top: 40px;
    color: white;
}

.block-champ {
    width: 100%;
    margin: auto;
    text-align: center;
}

.champ {
    width: 380px;
    height: 40px;
    margin: 15px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: black;
    position: relative;
    top: 50px;
}

.button1 {
    width: 380px;
    height: 30px;
    background: white;
    border-radius: 5px;
    color: darkseagreen;
    font-size: 20px;
    margin: 15px;
    position: relative;
}

.button1:hover {
    background: rgba(0, 0, 0, 0.5);
}

.lien-champ {
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    font-size: 17px;
}

.lien {
    color: white;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.background {
    width: 90%;
    margin-top: 650px;
}

.photofond {
    margin-top: 20px;
    margin-left: 2%;
}


/* Fin du Formulaire de Connexion */

h3 {
    color: floralwhite;
    font-size: 2em;
    font-family: "sans-serif";
}

.premier {
    margin-left: 400px;
    margin-right: 400px;
}


/* Début de la page d'Aide */


/* Logo Techsens page de connexion */

.img1 {
    margin-left: 40%;
    width: 90px;
    align-items: center;
}

.rut {
    width: 300px;
    height: 55px;
    font-size: 40px;
    position: relative;
    text-align: center;
    margin-left: 37%;
    color: darkseagreen;
}

.ticket {
    position: relative;
    border: 1px solid black;
    width: 840px;
    height: 300px;
    margin-top: 8px;
    font-size: 17px;
    background-color: darkseagreen;
    color: ghostwhite;
    border-radius: 7px;
    margin-left: 19%;
    box-shadow: 5px 5px 5px black;
}

.button20 {
    position: relative;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    background-color: darkseagreen;
    text-align: center;
    margin-left: 70%;
    color: white;
}

.button20:hover {
    background: rgba(0, 0, 0, 0.5);
}

.img3 {
    position: absolute;
    display: flex;
    margin-top: 160px;
    width: 270px;
    height: 200px;
}


/* Fin de la page d'Aide */


/* Page d'accueil */

h1.Techsens {
    color: #075244;
    font-size: 2.2em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 780px;
    margin-left: 10%;
}

.img5 {
    display: inline;
    width: 75%;
    height: auto;
    height: 200px;
    margin-left: 10%;
}

.img6 {
    display: inline;
    width: 75%;
    height: auto;
    height: 200px;
    margin-left: 10%;
}

.img7 {
    display: inline;
    width: 75%;
    height: auto;
    height: 200px;
    margin-left: 10%;
}

.text3 {
    margin-left: 10%;
    text-align: center;
    font-size: 1.5em;
    color: #075244;
    width: 20%;
    margin-top: -2%;
}

.text2 {
    text-align: center;
    font-size: 1.5em;
    color: #075244;
    width: 20%;
    margin-left: 10%;
}

.text4 {
    margin-left: 10%;
    text-align: center;
    font-size: 1.5em;
    color: #075244;
    width: 20%;
}

.slogan {
    margin-left: 42%;
    font-size: 30px;
    color: #075244;
    font-style: italic;
}

div.Chiffres {
    width: 80%;
    margin-left: 15%;
    color: #075244;
}

.Chiffre {
    margin-top: 50px;
    margin-left: -5%;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 500;
    color: #075244;
}

.img10 {
    float: right;
    width: 30px;
    height: auto;
    position: relative;
    margin-right: 2%;
    margin-top: -6%;
}

.Chiffres ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-right: auto;
    width: 80%;
    margin-left: 10%;
}


/* Photo greenware corentin celton */

.celton {
    margin-left: 285px;
    width: 40%;
    height: 300px;
    margin-left: 30%;
}

.white34 {
    color: white;
}


/* Tableau corentin celtobn */

.centert {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.center {
    width: 600px;
    padding: 5px;
    color: darkseagreen;
    border: 3px solid darkseagreen;
    text-align: center;
    margin-left: 60%;  
}
.essy{
    width: 600px;
    padding: 5px;
    color: darkseagreen;
    border: 3px solid darkseagreen;
    text-align: center;
    margin-left: 49.9%;
    margin-top: 1.65%;
    position: absolute;
}

/* Capteur dans le tableu (dimensions de l'image */

.sensor {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 300px;
}


/* Image des statistiques */

.stat {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 350px;
}

.buttonRafraichir {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 70px;
    padding: 5px 3px;
    background-color: #2E8B57;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.buttonRafraichir:hover {
    background-color: darkgreen;
    color: white;
    box-shadow: 0 8px 16px 0;
}

.rectangl1 {
    text-align: center;
    margin-left: 60px;
}

.rectangl2 {
    text-align: center;
    margin-left: 30px;
    margin-right: 1200px;
    margin-bottom: 1200px;
    margin-top: 200px;
}

.button {
    background-color: #ffffff;
    border: black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    left: 50%;
    right: 50%;
    display: block;
}

#trait_dessus {
    border-top: 5px solid #000;
    width: 1600px;
    margin-top: 150px
}

#trait_dessous {
    border-top: 5px solid #000;
    width: 1600px;
}

.vertical-line {
    border-left: 5px solid #000;
    display: inline-block;
    height: 500px;
    margin: 0 500px;
}


/*_____________________________________________Page Profil (home.php)________________*/

.contacter2 {
    font-size: 3em;
    font-family: Bradley Hand, cursive;
    margin-left: 25px;
    color: darkseagreen;
}

.formulaire2 {
    margin-left: 32%;
    text-align: justify;
    font-size: 1.25em;
    width: 30%;
}

.txt1 {
    font-size: 1.15em;
    font-family: arial;
    text-decoration: underline;
}

.button2 {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    color: darkseagreen;
    width: 300px;
    padding: 5px 3px;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button2:hover {
    background-color: darkgreen;
    color: white;
    box-shadow: 0 8px 16px 0;
}

.photo_de_profil {
    color: darkseagreen;
    font-size: 1.7em;
    margin-top: -350px;
    float: left;
    margin-left: 100px;
}

.img_de_profil {
    width: 150px;
    display: block;
    float: left;
    margin-top: -300px;
    margin-left: 100px;
}


/*jsp ou c'est*/

.blabla {
    float: center;
    width: 50%;
    font-size: 1.5em;
    text-align: justify;
    z-index: 100000;
}


/*_____________________________________________footer______________*/

.footer {
    position: relative;
    padding-top: 10px;
    width: 100%;
    height: 170px;
    background-color: rgb(123, 161, 123);
    color: #F3F3F3;
    text-align: center;
    opacity: 0.9;
    bottom: 0;
}

.photologo {
    width: 30%;
    margin-right: 40%;
    margin-left: 40%;
    float: center;
}

.end {
    margin-top: 100px;
}

.content {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    margin-top: -20px;
}

.footerquizz {
    top: 1%;
    position: absolute;
    left: 0;
    padding-top: 10px;
    width: 100%;
    height: 170px;
    background-color: rgb(123, 161, 123);
    color: #F3F3F3;
    text-align: center;
    opacity: 0.9;
    margin-top: 60%;
}

.footer6 {
    top: 1%;
    position: absolute;
    left: 0;
    padding-top: 10px;
    width: 100%;
    height: 170px;
    background-color: rgb(123, 161, 123);
    color: #F3F3F3;
    text-align: center;
    opacity: 0.9;
    margin-top: 44%;
}


/* CSS page Greenware */

.intro {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    width: 700px;
    background-color: darkseagreen;
    color: white;
    font-size: 30px;
}

.gares {
    position: relative;
}

.gare {
    font-size: 2em;
    color: darkseagreen;
}

.lien-gares {
    display: inline;
}

.buttongare1 {
    display: inline;
    width: 18%;
    height: 200px;
    border: 5px solid darkseagreen;
    margin-left: 11%;
}

.buttongare2 {
    display: inline;
    width: 18%;
    height: 200px;
    border: 5px solid darkseagreen;
    margin-left: 10%;
}

.buttongare3 {
    display: inline;
    width: 18%;
    height: 200px;
    border: 5px solid darkseagreen;
    margin-left: 10%;
}

.buttongare1:hover {
    -webkit-transform: scale(1.25);
    /* Safari et Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* Internet Explorer 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
}

.buttongare2:hover {
    -webkit-transform: scale(1.25);
    /* Safari et Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* Internet Explorer 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
}

.buttongare3:hover {
    -webkit-transform: scale(1.25);
    /* Safari et Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* Internet Explorer 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
}


/* home page */

.button10 {
    width: 20%;
    height: 40px;
    background: darkseagreen;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    position: relative;
    top: 60px;
    margin-left: 40%;
}

.button10:hover {
    background: rgba(0, 0, 0, 0.5);
}


/* page contact */

.body4 {
    background-color: ghostwhite;
    font-size: 1em;
    width: 100%;
}

.button5 {
    width: 150px;
    padding: 5px 3px;
    background-color: #2E8B57;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button5:hover {
    background-color: white;
    color: white;
    box-shadow: 0 8px 16px 0;
}

.contacter4 {
    width: 400px;
    height: 100px;
    font-size: 2.5em;
    font-family: Bradley Hand, cursive;
    margin-left: 25px;
    background-image: url("enveloppe.png");
    background-repeat: no-repeat;
    background-position: top right;
}

.container4 {
    background-color: rgba(143, 188, 122, .6);
    width: 80%;
    position: relative;
    height: 625px;
    right: 15%;
    left: 15%;
    margin-left: -50px;
    margin-top: 100px;
    border-radius: 10px;
    opacity: 70%;
}

.formulaire4 {
    float: right;
    text-align: justify;
    width: 30%;
    font-size: 1.25em;
    margin-right: 50px;
    margin-top: -120px;
}

.boxe {
    padding: 1em;
    width: 200px;
    height: 7px;
    border: 1px solid;
}

.texteleft {
    float: center;
    width: 50%;
    font-size: 1.5em;
    text-align: justify;
    margin-left: 50px;
    margin-top: -40px;
}

.blabla {
    float: center;
    width: 50%;
    font-size: 1.5em;
    text-align: justify;
    z-index: 100000;
}

.fleche {
    float: right;
    margin-top: -90px;
    margin-right: -300px;
}

.button51 {
    width: 150px;
    padding: 5px 3px;
    background-color: #5c834a;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: Papyrus;
    color: white;
    font-size: 15px;
}


/*3 images animées page d'accueil*/

.paysage1 {
    position: relative;
    width: 33.333%;
    height: 600px;
    float: left;
    margin-top: 0px;
    z-index: 100;
}

.paysage2 {
    position: relative;
    width: 33.333%;
    height: 600px;
    float: left;
    margin-top: 0px;
}

.paysage3 {
    position: relative;
    width: 33.333%;
    height: 600px;
    float: left;
    margin-top: 0px;
}

.titre1 {
    opacity: 0;
    position: relative;
    margin-top: 50px;
    margin-left: -22%;
    float: left;
    font-size: 2em;
    font-family: fantasy;
    font-weight: 700;
}

.titre2 {
    opacity: 0;
    position: relative;
    margin-top: 50px;
    float: left;
    margin-left: -22%;
    font-size: 2em;
    font-family: fantasy;
    font-weight: 700;
}

.titre3 {
    opacity: 0;
    position: relative;
    margin-top: 50px;
    float: left;
    margin-left: -22%;
    font-size: 2em;
    font-family: fantasy;
    font-weight: 700;
}

.paragraphe1 {
    opacity: 0;
    position: relative;
    margin-top: 150px;
    float: left;
    text-align: center;
    margin-left: -27%;
    width: 20%;
    font-size: 1.5em;
    line-height: 40px;
}

.paragraphe2 {
    opacity: 0;
    position: relative;
    margin-top: 150px;
    float: left;
    text-align: center;
    margin-left: -27%;
    width: 20%;
    font-size: 1.5em;
    line-height: 40px;
}

.paragraphe3 {
    opacity: 0;
    position: relative;
    margin-top: 150px;
    float: left;
    text-align: center;
    margin-left: -27%;
    width: 20%;
    font-size: 1.5em;
    line-height: 40px;
}


/*notre histoire*/

.building {
    width: 54%;
    height: 504px;
    margin-left: 5%;
    margin-top: 100px;
}

.title1 {
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 700;
    color: #075244;
    float: left;
    margin-left: 1%;
    margin-top: 120px;
}

.paragraffe1 {
    font-size: 1.3em;
    font-family: sans-serif;
    text-align: justify;
    color: #075244;
    line-height: 40px;
    width: 30%;
    height: 100%;
    float: right;
    margin-right: 8%;
    margin-top: 2%;
}

.greeenware {
    width: 54%;
    height: 504px;
    float: right;
    margin-right: 5%;
    margin-top: 50px;
}

.title2 {
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 700;
    color: #075244;
    float: left;
    margin-left: 5%;
    margin-top: 50px;
}

.paragraffe2 {
    font-size: 20px;
    font-family: sans-serif;
    text-align: justify;
    line-height: 40px;
    color: #075244;
    width: 30%;
    float: right;
    margin-right: 4%;
    margin-top: 60px;
}

.sensmoov {
    width: 54%;
    height: 504px;
    margin-left: 5%;
    margin-top: 50px;
}

.title3 {
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 700;
    color: #075244;
    float: left;
    margin-left: 1%;
    margin-top: 60px;
}

.paragraffe3 {
    font-size: 20px;
    font-family: sans-serif;
    text-align: justify;
    color: #075244;
    line-height: 40px;
    width: 30%;
    float: right;
    margin-right: 8%;
    margin-top: 60px;
}

.cgu {
    text-align: justify;
    width: 80%;
    margin-left: 10%;
}

h1.HHH {
    font-weight: 900;
    font-family: sans-serif;
    text-align: center;
}

h2.Hun {
    font-weight: 700;
    font-family: sans-serif;
}


/* Page ABOUT */

.img33 {
    width: 150px;
    height: 150px;
    border: 2px solid darkseagreen;
}


/*MAP*/

.loc {
    margin: auto;
    text-align: center;
}

.map {
    width: 950px;
    height: 350px;
    margin-top: 2%;
    position: relative;
}

.t {
    font-size: 22px;
    margin-top: 2000px;
    position: relative;
}